
<div class="row">
	<div class="col-md-10 col-md-offset-1 jumbotron">
		<img class="thumbnail pull-left" src="/images/APD-Logo-small.png">

   	<h2>About APD FPV</h2>

		<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Cras sit amet mollis purus. Nunc non commodo mi, et elementum nunc.
			Nullam non sagittis est. Suspendisse lobortis vel augue a semper. Fusce
			aliquet quam sit amet varius ultricies.</p>

		<p>Nullam ornare orci ut sollicitudin dictum. Fusce scelerisque, urna sit
			amet pretium iaculis, nisi erat sagittis mauris, eu efficitur dolor magna
			nec elit. Interdum et malesuada fames ac ante ipsum primis in faucibus.
			Nam a lacus ut eros iaculis feugiat et et sapien. Mauris ornare finibus
			lectus vel vehicula.</p>
		
		<ul>
			<li>Vestibulum facilisis porttitor molestie</li>
			<li>Nunc velit dui, mollis quis pellentesque in, venenatis quis odio</li>
			<li>Vestibulum euismod enim dictum, congue lectus ut, laoreet dolor</li>
			<li>Nam diam nibh, tristique vel augue vitae, ultrices fermentum enim.</li>
		</ul>
		
		<p>Aenean elit metus, ultricies id rutrum id, pretium at magna. Morbi
			molestie, quam vel viverra porta, arcu mauris hendrerit mauris, et
			eleifend nisi odio eget sem. Nam molestie quis libero id tincidunt.
			Pellentesque imperdiet quam in urna auctor hendrerit. Sed egestas sapien
			malesuada, cursus lorem nec, imperdiet magna. Suspendisse potenti. Nulla
			porttitor ligula sit amet felis scelerisque condimentum.</p>

		<p>Vestibulum sit amet ultricies arcu, in auctor tortor. Donec non elit lectus.
			Suspendisse sagittis orci magna, ac tempor ex sodales quis. Nunc pretium sem a
			laoreet accumsan. Nam eu imperdiet metus, nec egestas leo. In tincidunt mauris
			sed pretium hendrerit. Proin id metus dictum, finibus justo nec, pretium
			libero. Integer lacinia, dui non ornare egestas, urna felis auctor ipsum, et
			finibus quam massa eu mauris. Suspendisse potenti. Morbi rutrum justo quis nisi
			scelerisque faucibus ac ac ex. Duis et felis nibh. Vivamus quis fringilla est.
			Fusce nulla urna, elementum et odio sit amet, luctus condimentum dui. Proin
			luctus quam est, et faucibus urna porttitor eget. Cras vel justo et tortor
			ultricies pellentesque.</p>

	</div>
</div>
