<div class="row">
	<img class="img-responsive center-block" src="/images/APD-Logo-Med.png">
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1 jumbotron">
		<p class="lead"> We are
			Colorado's Largest Premier FPV Racing Club, we are also a Tier 1 Chapter
			of MultiGP, in which we promote safe and fun FPV racing and we are also
			sponsored by some of the largest companies in the Multirotor and FPV
			industries. This group is also here for the beginners as well as the
			advanced pilots to get together and learn more about racing, FPV, and
			anything related to this hobby.</p>
		
		<p>Join our Facebook group where you can post builds, see what others are
			building, learn about electronics, discuss tuning, and
			anything else related to flying or racing multirotors. Or go straight to
			our page on MultiGP.com and sign up for a race!</p>
		
		<p>Thanks for stopping by!!</p></div>
</div>
